venv
env
.venv
*.pyc
__pycache__
.pytest_cache
*.egg-info
dist
build
.git
.gitignore
.env
.env.local
db.sqlite3
db.sqbpro
staticfiles
.cache
.DS_Store
*.log
*.pot
.coverage
htmlcov
node_modules
npm-debug.log
.angular
dist
